
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(40deg,#a703c4,#0596f0);
    background-attachment: fixed;
    color: #fff;
}
.banner{
    padding: 12px;
    margin-bottom: 30px;
}
.title{
    text-align: center;
    font-size: 160px;
    font-family: Roboto;
    color: #ffffff;
}
.secondName{
    text-align: right;
    font-size: 70px;
    margin-top: -65px;
    font-family: Roboto
}
.subtitle{
    /* border: 2px solid #ffffff; */
    border-radius: 50px;
    text-align: center;
    padding: 15px;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.email{
    border: 2px solid rgb(0, 217, 255);
    font-family: Roboto;
    padding: 12px;
    border-radius: 50px;
}
.email:hover{
    border: 1px solid rgb(0, 217, 255);
}
.footer{
    margin: 40px;
    font-family: 'Roboto';
}
.footer code{
    font-family: 'Roboto';
}
.teste{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #ffffff;
    background: linear-gradient(40deg,#037ac4,#7104ac);
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.514);
    border-radius: 20px;
    padding: 12px;
}